@charset "utf-8";

body{
    font-size: 16px;
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴProN", Meiryo, "MS Pゴシック", sans-serif;
}

p{
    color: #4c4c4c; 
    font-size: 16px;
    font-family: monospace;
    line-height: 1em;
    text-align: left;
}

h1{
    text-align: center;
    background-color: #a69abd;
    color: #e0e0e0;
    line-height: 4em;
    font-size: 38px;
}

h2{
    color: #4c4c4c;
    text-align: center;
    font-size: 40px;
}

h3{
    background-color: #b0c4de;
    color: #f9fff9;
    line-height: 2em;
    text-align: center;
}

#hokuhoku {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

#hogehoge {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.container {
    width: 400px;
    margin: 8px auto;
    background: #b0c4de;
    border-radius: 4px;
    padding: 16px;
}

#question {
    margin-bottom: 16px;
    font-weight: bold;
}

#choices {
    list-style: none;
    padding: 0;
    margin-bottom: 16px;
    
}

#choices > li {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#choices > li:hover {
    background: #202020;
}

#btn {
    background: #ffffe0;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: aliceblue;
    box-shadow: 0 4px 0 #4169e1;
}

#btn. disabled {
    background: #ccc;
    box-shadow: 0 4px 0 #bbb;
    opacity: 0.7;
}
